.img-signin{
  position: absolute;
  width: 50%;
  height: 100%;
  left: -1px;
  top: 0px;
  border-radius: 0px 25px 0px 0px;
  background-size: 50rem 45rem;
}

.email{
  position: absolute;
  left: 972px;
  top: 392px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  color: rgba(67, 67, 67, 0.53);
}

.underline-e{
  position: relative;
    width: 50%;
    border: 1px solid #000000;
}

.pass{
  position: absolute;
  left: 972px;
  top: 492px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  color: rgba(67, 67, 67, 0.53);
}

.underline-p{
  position: absolute;
  width: 50%;
  left: 950px;
  top: 527px;
  border: 1px solid #000000;
}





















